<!--recipes-->
<div id="latest-blog ">
  <div class="container ">
    <div class="row ">
      <div class="col-md-12">
        <div class="heading-section ">
          <h2><a [routerLink]="['/recipes']">Most rated</a></h2>
          <img src="images/under-heading1.png " alt=" ">
        </div>
      </div>
    </div>
    <div class="row" *ngIf="items">
      <div class="col-md-4 col-sm-6" *ngFor="let item of items">
        <div class="blog-post">
          <div class="blog-thumb hover15">
            <figure><img src="images/gallery/{{item.img}}" alt=" " /></figure>

          </div>
          <div class="blog-content" appShowDiv appHideDiv>
            <div class="content-show">
              <img src="images/{{item.user.img}}" style="float: left;border-radius: 50%; width:40px" alt="">
              <h3 style="margin-left: 40px;margin-top: 6px;padding: 7px;">{{item.user.name}}</h3>
              <h4 style="display: inline-grid;clear: both;"><a (click)="saveRecipeId(item._id)">{{item.name}}</a></h4>
              <span style=" margin-left: 10px;" [star]="item.avgRate"></span>
              <span style="display:block">{{item.date}}</span>

            </div>
            <div class="content-hide">
              <p>{{item.description}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>