<!--recipes-->
<div id="latest-blog ">
  <div class="container ">
    <div class="row ">
      <div class="col-md-12 ">
        <div class="heading-section ">
          <h2>Most rated</h2>
          <img src="images/under-heading1.png " alt=" ">
        </div>
      </div>
    </div>
         <div class="row ">

       <div class="col-md-4 col-sm-6">
         <div class="blog-post">
           <div class="blog-thumb">
             <img src="images/gallery/{{items[0].img}}" alt=" " />
           </div>
           <div class="blog-content">
             <div class="content-show">
               <h4><a href="#">{{items[0].name}}</a></h4>
               <span>{{items[0].date}}</span><span>-</span><span>{{items[0].avgRate}}</span>
             </div>
             <div class="content-hide">
               <p>{{items[0].description}}</p>
             </div>
           </div>
         </div>
       </div>
       
       <div class="col-md-4 col-sm-6">
         <div class="blog-post">
           <div class="blog-thumb">
             <img src="images/gallery/{{items[1].img}}" alt=" " />
           </div>
           <div class="blog-content">
             <div class="content-show">
               <h4><a href="#">{{items[1].name}}</a></h4>
               <span>{{items[1].date}}</span><span>-</span><span>{{items[1].avgRate}}</span>
             </div>
             <div class="content-hide">
               <p>{{items[1].description}}</p>
             </div>
           </div>
         </div>
       </div> 
       <div class="col-md-4 col-sm-6">
         <div class="blog-post">
           <div class="blog-thumb">
             <img src="images/gallery/{{items[2].img}}" alt=" " />
           </div>
           <div class="blog-content">
             <div class="content-show">
               <h4><a href="#">{{items[2].name}}</a></h4>
               <span>{{items[2].date}}</span><span>-</span><span>{{items[2].avgRate}}</span>
             </div>
             <div class="content-hide">
               <p>{{items[2].description}}</p>
             </div>
           </div>
         </div>
       </div>

     </div>



     <div class="row ">


       <div class="col-md-4 col-sm-6">
         <div class="blog-post">
           <div class="blog-thumb">
             <img src="images/gallery/{{items[3].img}}" alt=" " />
           </div>
           <div class="blog-content">
             <div class="content-show">
               <h4><a href="#">{{items[3].name}}</a></h4>
               <span>{{items[3].date}}</span><span>-</span><span>{{items[3].avgRate}}</span>
             </div>
             <div class="content-hide">
               <p>{{items[3].description}}</p>
             </div>
           </div>
         </div>
       </div>

      
       <div class="col-md-4 col-sm-6">
         <div class="blog-post">
           <div class="blog-thumb">
             <img src="images/gallery/{{items[4].img}}" alt=" " />
           </div>
           <div class="blog-content">
             <div class="content-show">
               <h4><a href="#">{{items[4].name}}</a></h4>
               <span>{{items[4].date}}</span><span>-</span><span>{{items[4].avgRate}}</span>
             </div>
             <div class="content-hide">
               <p>{{items[4].description}}</p>
             </div>
           </div>
         </div>
       </div>
      
       <div class="col-md-4 col-sm-6">
         <div class="blog-post">
           <div class="blog-thumb">
             <img src="images/gallery/{{items[5].img}}" alt=" " />
           </div>
           <div class="blog-content">
             <div class="content-show">
               <h4><a href="#">{{items[5].name}}</a></h4>
               <span>{{items[5].date}}</span><span>-</span><span>{{items[5].avgRate}}</span>
             </div>
             <div class="content-hide">
               <p>{{items[5].description}}</p>
             </div>
           </div>
         </div>
       </div>

     </div>
  </div>
</div>

<!--<div class="col-md-4 col-sm-6"  >
  <div class="blog-post">
    <div class="blog-thumb">
      <img src="images/gallery/img5.jpg" alt=" " />
    </div>
    <div class="blog-content">
      <div class="content-show">
        <h4><a href="single-post.html">Great Breakfast</a></h4>
        <span>17 Aug 2084</span>
      </div>
      <div class="content-hide">
        <p>Sed egestas tincidunt mollis. Suspendisse rhoncus vitae enim et faucibus. Ut dignissim nec arcu nec hendrerit. Sed
          arcu odio, sagittis vel diam in, malesuada malesuada risus. Aenean a sem leo. Nam ultricies dolor et mi tempor,
          non pulvinar felis sollicitudin.</p>
      </div>
    </div>
  </div>
</div>-->