
<app-slider></app-slider>


<app-most-rated></app-most-rated>

<!--learning-->
<div id="services" class="service-item">
  <div class="container ">
    <div class="row ">
      <div class="col-md-12 ">
        <div class="heading-section ">
          <h2>Learning</h2>
          <img src="images/under-heading1.png " alt=" ">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-11">
        <div class="testimonails-slider">
          <app-learning></app-learning>
        </div>
      </div>
    </div>
  </div>
</div>

<!--Tags & recipes-->
<div id="Tags">
  <div class="container ">
    <div class="row ">
      <div class="col-md-12 wow fadeInDown">
        <div class="heading-section ">
          <h2>Most Topics </h2>
          <img src="images/under-heading1.png " alt=" ">
        </div>
      </div>
    </div>
    <div class="row ">
      <div class="col-xs-12 col-sm-8 col-md-10 ">
        <div class="container">
          <div class="tab-wrap ">
            <div class="media ">
              <app-tags></app-tags>
              <!--/.media-body-->
            </div>
            <!--/.media-->
          </div>
          <!--/.tab-wrap-->
        </div>
      </div>
      <!--/.col-sm-6-->
    </div>
  </div>
</div>
