<div id="heading">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="heading-content">
          <h2>Recipes</h2>
          <span>Home / <a href="allRecipes.html">Recipes</a></span>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="latest-blog">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="heading-section">
          <img src="images/under-heading.png" alt="">
        </div>
      </div>
    </div>


    <div class="row">
      <div class="spaceDiv">
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="blog-post">
          <div class="blog-thumb">
            <img src="images/waraaenab.jpg" alt="" />
          </div>
          <div class="blog-content">
            <div class="content-show">
              <div class="heartDiv">
                <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
              </div>
              <h4><a href="single-post.html">stuffed grape leaves</a>
              </h4>
              <span>6 May 2017</span>
            </div>
            <div class="content-hide">
              <p>Are used in the cuisines of a number of cultures. They are most often picked fresh from the vine and stuffed
                with a mixture of rice, meat, and spices, and then cooked by boiling or steaming. Stuffed grape leaves can
                be served as an appetizer or as a main dish.</p>
              <div class="rating">
                <span id="star1" class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                <span id="star2" class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="blog-post">
          <div class="blog-thumb">
            <img src="images/kabsadgag.jpg" alt="" />
          </div>
          <div class="blog-content">
            <div class="content-show">
              <div class="heartDiv">
                <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
              </div>
              <h4><a href="single-post.html">Kabsa Chicken</a></h4>
              <span>5 May 2017</span>
            </div>
            <div class="content-hide">
              <p>Is a family of mixed rice dishes that originates from Saudi Arabia. The dish is also popularly known as makbūs
                (Arabic: مكبوس‎‎) in most Arab states of the Persian Gulf, but is served in the same way.</p>
              <div class="rating">
                <span id="star1" class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                <span id="star2" class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="blog-post">
          <div class="blog-thumb">
            <img src="images/pizza.jpg" alt="" />
          </div>
          <div class="blog-content">
            <div class="content-show">
              <div class="heartDiv">
                <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
              </div>
              <h4><a href="single-post.html">Pepronni Pizza</a></h4>
              <span>4 May 2017</span>
            </div>
            <div class="content-hide">
              <p>Is a yeasted flatbread popularly topped with tomato sauce and cheese and baked in an oven. It is commonly topped
                with a selection of meats, vegetables and condiments. The term was first recorded in the 10th century, in
                Central Italy.</p>
              <div class="rating">
                <span id="star1" class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                <span id="star2" class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="blog-post">
          <div class="blog-thumb">
            <img src="images/FattoushSalad.jpg" alt="" />
          </div>
          <div class="blog-content">
            <div class="content-show">
              <div class="heartDiv">
                <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
              </div>
              <h4><a href="single-post.html">Fattoush Salad</a></h4>
              <span>3 May 2017</span>
            </div>
            <div class="content-hide">
              <p>Fattoush is one of the most well-known Middle Eastern salads and a standard dish on the 'mezza' (small dishes)
                table. It's a colorful tossed salad with a lemony garlic dressing. This is a delicious and healthy place
                to start.</p>
              <div class="rating">
                <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="blog-post">
          <div class="blog-thumb">
            <img src="images/macaronibechamel.jpg" alt="" />
          </div>
          <div class="blog-content">
            <div class="content-show">
              <div class="heartDiv">
                <span class="glyphicon glyphicon-heart-empty" aria-hidden="true"></span>
              </div>
              <h4><a href="single-post.html">Macaroni Bechamel</a></h4>
              <span>1 May 2017</span>
            </div>
            <div class="content-hide">
              <p>This is an Egyptian favorite. A ground meat mixture between two layers of macaroni smothered in a creamy bachamel
                sauce. You can use any type of pasta you like. The most common are Penne , spaghetti or elbow macaroni.</p>
              <div class="rating">
                <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="blog-post">
          <div class="blog-thumb">
            <img src="images/spaghettiPasta.jpg" alt="" />
          </div>
          <div class="blog-content">
            <div class="content-show">
              <div class="heartDiv">
                <span class="glyphicon glyphicon-heart-empty" aria-hidden="true"></span>
              </div>
              <h4><a href="single-post.html">Spaghetti Pasta</a></h4>
              <span>28 April 2017</span>
            </div>
            <div class="content-hide">
              <p>Is a long, thin, cylindrical, solid pasta. It is a staple food of traditional Italian cuisine. Italian spaghetti
                is made from durum wheat semolina, but elsewhere it may be made with other kinds of flour.</p>
              <div class="rating">
                <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="pagination">
      <div class="row">
        <div class="col-md-12" style="margin-left:320px;">
          <ul>
            <li><a href="#">Previous</a></li>
            <li><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">..</a></li>
            <li><a href="#">Next</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!--filter sidebar 
  <div class="filterDiv">
    <h4 data-toggle="collapse" data-target="#group-2">
      <i class="fa fa-fw fa-caret-down parent-expanded"></i>
      <i class="fa fa-fw fa-caret-right parent-collapsed"></i> Nationality
    </h4>
    <div id="group-2" class="list-group">
      <a href="#" class="list-group-item">
        <div class="checkbox">
          <label>
                                    <input type="checkbox" value="">Well Done			
                                </label>
        </div>
        <div class="clearfix"></div>
      </a>

      <a href="#" class="list-group-item">
        <div class="checkbox">
          <label>
                                        <input type="checkbox">Spicy
                                    </label>
        </div>
        <div class="clearfix"></div>
      </a>
    </div>
  </div>-->
</div>