<article id="slider" >
  <input checked type='radio' name='slider' id='slide1' />
  <input type='radio' name='slider' id='slide2' />
  <input type='radio' name='slider' id='slide3' />
  <input type='radio' name='slider' id='slide4' />
  <input type='radio' name='slider' id='slide5' />
  <div id="slides">
    <div id="container">
      <div class="inner">
        <article>
          <div class='caption'>
            <div class="slider-caption ">
              <h1>Delicious Meals</h1>
              <p>Donec justo dui, semper vitae aliquam euzali, ornare pretium enim. Maecenas molestie diam
                <br><br>eget tellus luctus fermentum.</p>
              <a href="#">Shop Now</a>
            </div>
          </div>
          <img src="images/slide1.jpg" />
        </article>
        <article>
          <div class='caption'>
            <div class="slider-caption ">
              <h1>Delicious Meals</h1>
              <p>Donec justo dui, semper vitae aliquam euzali, ornare pretium enim. Maecenas molestie diam
                <br><br>eget tellus luctus fermentum.</p>
              <a href="#">Shop Now</a>
            </div>
          </div>
          <img src="images/slide2.jpg" />
        </article>
        <article>
          <div class='caption'>
            <div class="slider-caption ">
              <h1>Healthy Drinks</h1>
              <p>Maecenas fermentum est ut elementum vulputate. Ut vel consequat urna. Ut aliquet
                <br><br>ornare massa, quis dapibus quam condimentum id.</p>
              <a href="single-post.html ">Get Ready</a>
            </div>
          </div>
          <img src="images/slide3.jpg" />
        </article>
        <article>
          <div class='caption'>

          </div>
          <img src="https://0.s3.envato.com/files/84450220/img/Dummy4-942X400.jpg" />
        </article>
      </div>
    </div>
  </div>
  <div id="commands">
    <label for='slide1'></label>
    <label for='slide2'></label>
    <label for='slide3'></label>
    <label for='slide4'></label>
  </div>
  <div id="active">
    <label for='slide1'></label>
    <label for='slide2'></label>
    <label for='slide3'></label>
    <label for='slide4'></label>
  </div>
</article>