 .caption {
    height: 210px;
            overflow: hidden;
   text-overflow: ellipsis;}
    .hide{
        display: none;
    }

    .show{
        display:block;
    }

            .heading-section {
            text-align: center;
            padding: 40px 0 40px 0;
        } 


p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 75ch;
}


/* Gray Scale */
.hover08 img {
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.hover08 img:hover {
	-webkit-filter: grayscale(0);
	filter: grayscale(0);
}