<div class="parrent pull-left">
  <ul class="nav nav-tabs nav-stacked">
    <li class=""> <a href="#tab1" data-toggle="tab" class="analistic-01">Healthy</a></li>
    <li class="active"><a href="#tab2" data-toggle="tab" class="analistic-02 ">Hot</a></li>
    <li class=""> <a href="#tab3" data-toggle="tab" class="tehnical">Diet</a></li>
    <li class=""><a href="#tab4" data-toggle="tab" class="tehnical">Pizza</a></li>
    <li class=""><a href="#tab5" data-toggle="tab" class="tehnical">vagitarian</a></li>
  </ul>
</div>

<div class="parrent media-body">
  <div class="tab-content">
    <div class="tab-pane fade" id="tab1">
      <div class="media">
        <div class="pull-left">
          <img class="img-responsive" width="300px" src="./images/gallery/img3.jpg">
        </div>
        <div class="media-body ">
          <h2>Bottle wayfarers locavoret</h2>
          <p>Bottle wayfarers locavore Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ornare sem sit amet mauris
            bibendum, ac fringilla quam eleifend.
          </p>
        </div>
      </div>
    </div>

    <div class="tab-pane fade active in" id="tab2">
      <div class="media">
        <div class="pull-left">
          <img class="img-responsive" width="300px" src="./images/gallery/img3.jpg">
        </div>
        <div class="media-body ">
          <h2>Bottle wayfarers locavoret</h2>
          <p>Bottle wayfarers locavore Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ornare sem sit amet mauris
            bibendum, ac fringilla quam eleifend.
          </p>
        </div>
      </div>
    </div>

    <div class="tab-pane fade" id="tab3">
      <div class="media">
        <div class="pull-left">
          <img class="img-responsive" width="300px" src="./images/gallery/img3.jpg">
        </div>
        <div class="media-body ">
          <h2>Bottle wayfarers locavoret</h2>
          <p>Bottle wayfarers locavore Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ornare sem sit amet mauris
            bibendum, ac fringilla quam eleifend.
          </p>
        </div>
      </div>
    </div>

    <div class="tab-pane fade" id="tab4">
      <div class="media">
        <div class="pull-left">
          <img class="img-responsive" width="300px" src="./images/gallery/img3.jpg">
        </div>
        <div class="media-body ">
          <h2>Bottle wayfarers locavoret</h2>
          <p>Bottle wayfarers locavore Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ornare sem sit amet mauris
            bibendum, ac fringilla quam eleifend.
          </p>
        </div>
      </div>
    </div>

    <div class="tab-pane fade" id="tab5">
      <div class="media">
        <div class="pull-left">
          <img class="img-responsive" width="300px" src="./images/gallery/img3.jpg">
        </div>
        <div class="media-body ">
          <h2>Bottle wayfarers locavoret</h2>
          <p>Bottle wayfarers locavore Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ornare sem sit amet mauris
            bibendum, ac fringilla quam eleifend.
          </p>
        </div>
      </div>
    </div>
  </div>
  <!--/.tab-content-->
</div>