       <!--footer-->
    <footer>
        <div class="container-fluid" id="footer">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        &copy; 2017 3esh & mal7 All Rights Reserved.
                    </div>
                    <div class="col-sm-6">
                        <ul class="pull-right">
                            <li><a [routerLink]="['/index']">Home</a></li>
                            <li><a href="about-us.html">About Us</a></li>
                            <li><a href="contact-us.html">Contact Us</a></li>
                            <li><a href="recipe.html">Cook what today</a></li>
                            <li><a href="courses.html">Courses</a></li>
                            <li><a href="allRecipes.html">Recipes</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
